#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

sv_hostname "{{serverName}}"
sets sv_projectName "{{serverName}}"

sv_enforceGameBuild 3570
sv_licenseKey "{{svLicense}}"
sv_maxclients 10
{{serverEndpoints}}
set mysql_connection_string "{{dbConnectionString}}"
set resources_useSystemChat true

exec config/oxmysql.cfg
exec config/ox_lib.cfg
exec config/qbx_core.cfg
exec config/ox_target.cfg
exec config/ox_inventory.cfg
exec config/illenium-appearance.cfg
exec config/qbx_vehiclekeys.cfg
exec config/txadmin.cfg

ensure tr_lib
ensure chat
ensure ox_target
ensure ox_inventory
ensure qbx_core
ensure [dependencies]

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
{{addPrincipalsMaster}}